bin/
obj/
*.user
*.suo
*.aps
*.obj
*.iobj
*.ipdb
*.lib
*.exp
*.pdb
*.log
.vs/
__pycache__/
*.pyc
vendor/webview2/
vendor/webview2.zip
tools/kdmapper-master/
tools/kdmapper-src/
tools/kdmapper-src.zip
test_err.txt
assets/
